fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
python-dotenv

langchain
langchain-core
langchain-openai
langchain-community
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite

openai
faiss-cpu
pymupdf
ddgs
requests
ipykernel